{
    "root": true,
    "env": {
        "node": true,
        "es6": true
    },
    "extends": [
        "airbnb",
        "typescript",
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        <% if (prettier) { %> "prettier", "plugin:prettier/recommended", <% } %>
    ],
    "plugins": [
        "@typescript-eslint", 
        <% if (prettier) { %> "prettier", <% } %>
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "sourceType": "module",
        "tsconfigRootDir": "./",
        "extraFileExtensions": [".json"],
        "import/parsers": {
            "@typescript-eslint/parser": [".ts"]
        },
        "import/resolver": {
            "typescript": {}
        }
    },
    "rules": {
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "argsIgnorePattern": "^_",
                "ignoreRestSiblings": true
            }
        ],
        "eqeqeq": ["warn", "always"],
        "import/extensions": [
            "error",
            {
                "js": "never",
                "json": "always",
                "ts": "never"
            }
        ],
        "import/no-extraneous-dependencies": "off",
        "import/no-unresolved": "off",
        "import/order": "warn",
        "import/prefer-default-export": "off",
        "lines-between-class-members": "off",
        "no-console": [
            "warn",
            {
                "allow": ["warn", "error", "info"]
            }
        ],
        "no-param-reassign": [
            "warn",
            {
                "props": false
            }
        ],
        "spaced-comment": [
            "warn",
            "always",
            {
                "markers": ["/"]
            }
        ],
        <% if (prettier) { %> "prettier/prettier": ["warn"], <% } %>
    }
}
